* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.menu{
    background-color: aqua;
    height: 400px;
    border: solid 2px red;
  } 

.barra-lateral{
    background-color: aquamarine;
    height: 500px ;
    width: 200px;
    float: left;
    border: solid 2px black;
  }

.contenido{
    background-color:bisque;
    height: 500px;
    border: solid 2px yellow;
}

.pie{
    background-color: blue;
    height: 200px;
    border: solid 2px;
    border: solid 2px brown;
    clear: both;
}